{% if user %}
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href='#'>
            <i class="fas fa-th-large"></i>
            <span>Web Dashboard</span>
        </a>
    </li>
{% endif %}
<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href='./createRawFrequency'>
        <i class="fas fa-th-large"></i>
        <span>Raw Frequency</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href='./createDerivedFrequency'>
        <i class="fas fa-th-large"></i>
        <span>Derived Frequency</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href='./createRawVoltage'>
        <i class="fas fa-th-large"></i>
        <span>Raw Voltage</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href='./createDerivedVoltage'>
        <i class="fas fa-th-large"></i>
        <span>Derived Voltage</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href='./createDerivedVdi'>
        <i class="fas fa-th-large"></i>
        <span>Derived VDI</span>
    </a>
</li>